<div class="w-10/12 bg-white p-6 rounded-lg shadow-lg self-center m-16">
  <h2 class="text-2xl font-bold mb-4 text-center">Gestion des lots de tôle</h2>

  <button id="openModal" class="mb-4 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700">+ Ajouter un lot</button>

  <form
    id="formLotsToles"
    name="formLotsToles"
    class="m-4 p-4 border border-gray-700"
    hx-post="/toles/add"
    hx-target="#lotsTableContainer"
    hx-swap="innerHTML"
    hx-on::after-request="if(event.detail.successful) this.reset()"
    autocomplete="off"
  >
    <label for="reference" class="block text-gray-700">Référence :</label>
    <input type="text" id="reference" name="reference" class="w-full border p-2 rounded-md mb-2" />

    <label for="no_commande_fournisseur" class="block text-gray-700">N° Cmde Fournisseur :</label>
    <input type="text" id="no_commande_fournisseur" name="no_commande_fournisseur" class="w-full border p-2 rounded-md mb-2" />

    <label for="no_commande_guinault" class="block text-gray-700">N° Cmde Guinault :</label>
    <input type="text" id="no_commande_guinault" name="no_commande_guinault" class="w-full border p-2 rounded-md mb-2" />

    <label for="quantite_servie" class="block text-gray-700">Quantité Servie :</label>
    <input type="number" id="quantite_servie" name="quantite_servie" class="w-full border p-2 rounded-md mb-2" />

    <label for="poids" class="block text-gray-700">Poids:</label>
    <input type="number" id="poids" name="poids" class="w-full border p-2 rounded-md mb-2" />

    <label for="quantite_rebut" class="block text-gray-700">Quantité Rebut :</label>
    <input type="number" id="quantite_rebut" name="quantite_rebut" value="0" class="w-full border p-2 rounded-md mb-2" />

    <label for="date_fabrication" class="block text-gray-700">Date Fabrication :</label>
    <input type="date" id="date_fabrication" name="date_fabrication" class="w-full border p-2 rounded-md mb-2" />

    <label for="date_reception_guinault" class="block text-gray-700">Date Réception Guinault :</label>
    <input type="date" id="date_reception_guinault" name="date_reception_guinault" class="w-full border p-2 rounded-md mb-2" />

    <label for="date_reception_dee" class="block text-gray-700">Date Réception DEE :</label>
    <input type="date" id="date_reception_dee" name="date_reception_dee" class="w-full border p-2 rounded-md mb-2" />

    <div class="flex justify-end space-x-2 mt-4">
      <button id="closeModal" class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-700">Annuler</button>
      <button id="saveTole" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700">Enregistrer</button>
    </div>
  </form>

  <div id="lotsTableContainer">
    <!-- la table entière sera injectée ici -->
    <include href="/toles/partials/lots-table.html" />
  </div>
</div>

