<div class="w-10/12 bg-white p-6 rounded-lg shadow-lg self-center m-16">
  <h2 class="text-2xl font-bold mb-4 text-center">Gestion des lots de tôle</h2>

  <!-- <button id="openModal" class="mb-4 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700">+ Ajouter un lot</button> -->
  <!-- <button hx-get="/toles/form" hx-target="#modal" hx-trigger="click" hx-swap="innerHTML" class="bg-blue-500 text-white px-4 py-2 rounded">+ Ajouter un lot</button> -->
  <button hx-get="/toles/form" hx-target="#modal" hx-swap="innerHTML" class="bg-blue-500 text-white px-4 py-2 rounded m-4">+ Ajouter un lot</button>
  <div id="modal" class="w-1/2"></div>

  <div id="lotsTableContainer">
    <!-- la table entière sera injectée ici -->
    <include href="/toles/partials/lots-table.html" />
  </div>
</div>
