<table class="w-full border-collapse border border-gray-300">
  <thead>
    <tr class="bg-blue-200">
      <th class="border p-2">N° de lot</th>
      <th class="border p-2">Infos</th>
      <th class="border p-2">Référence</th>
      <th class="border p-2">Cmd Fournisseur</th>
      <th class="border p-2">Cmd Guinault</th>
      <th class="border p-2">Quantité Servie</th>
      <th class="border p-2">Poids</th>
      <th class="border p-2">Date de Fabrication</th>
      <th class="border p-2">Date de Reception Guinault</th>
      <th class="border p-2">Date de Reception Dee</th>
      <th class="border p-2">Quantité Rebut</th>
      <th class="border p-2">Actions</th>
    </tr>
  </thead>
  <tbody id="lotsTable">
    <repeat group="{{@lots}}" value="{{@lot}}">
      <tr class="text-center even:bg-gray-100">
        <td>{{@lot.id}}</td>
        <!-- <td>
          <check if="{{isset(@lot.commentaires)}}">
            <i class="fa-regular fa-message" title="{{@lot.commentaires}}"></i>
          </check>
          <check if="{{isset(@lot.no_fnc)}}">
            <i class="fa-solid fa-triangle-exclamation text-red-500" title="N° FNC: {{@lot.no_fnc}}"></i>
          </check>
        </td> -->
        <td class="px-4 py-2 text-center">
          <check if="{{ @@lot.commentaires }}">
            <span 
              class="bg-blue-100 text-blue-700 text-xs font-medium px-2 py-0.5 rounded" 
              title="{{ @@lot.commentaires }}">
              <i class="fa-regular fa-message"></i>
              Note
            </span>
          </check>
        
          <check if="{{ @@lot.no_fnc }}">
            <span 
              class="bg-orange-100 text-orange-700 text-xs font-medium px-2 py-0.5 rounded ml-1" 
              title="FNC : {{ @@lot.no_fnc }}">
              <i class="fa-solid fa-triangle-exclamation"></i>
              FNC
            </span>
          </check>
        </td>
        
        <td>{{@lot.reference}}</td>
        <td>{{@lot.no_commande_fournisseur}}</td>
        <td>{{@lot.no_commande_guinault}}</td>
        <td>{{@lot.quantite_servie}}</td>
        <td>{{@lot.poids}}</td>
        <td>{{!isset(@lot.date_fabrication) ? "<span class='text-gray-400 italic' title='Non renseigné'>NR</span>" : date("d/m/Y", strtotime(@lot.date_fabrication))}}</td>
        <td>
          {{!isset(@lot.date_reception_guinault) ? "<span class='text-gray-400 italic' title='Non renseigné'>NR</span>" : date("d/m/Y", strtotime(@lot.date_reception_guinault))}}
        </td>
        <td>{{!isset(@lot.date_reception_dee) ? "<span class='text-gray-400 italic' title='Non renseigné'>NR</span>": date("d/m/Y", strtotime(@lot.date_reception_dee))}}</td>
        <td>{{@lot.quantite_rebut}}</td>
        <td class="flex items-center justify-center gap-2">
          <button hx-get="/toles/{{@lot.id}}/edit" hx-target="#modal" hx-swap="innerHTML" class="m-2 px-1 py-1 rounded-lg">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
          <button
            hx-delete="/toles/{{@lot.id}}/delete"
            hx-confirm="Supprimer ce lot ?"
            hx-target="#lotsTableContainer"
            hx-swap="innerHTML"
            class="m-2 px-1 py-1 rounded-lg font-bold"
          >
            <i class="fa-regular fa-trash-can"></i>
          </button>
        </td>
      </tr>
    </repeat>
  </tbody>
</table>
