<header class="bg-gray-700 shadow px-6 py-4 flex items-center justify-between">
  <div class="flex flex-col items-center mb-2">
    <div class="flex items-center gap-4">
      <img src="{{@BASE}}/{{@UI}}/assets/img/gears.svg" width="80" alt="Logo GestProd" />
      <span class="text-2xl sm:text-4xl font-sbold text-indigo-400">GESPROD</span>
    </div>
    <span class="text-base text-gray-500 text-center font-semibold italic">Gestion de production DEE</span>
  </div>
  <div class="text-right text-gray-500 text-xl font-mono">
    <div class="flex flex-col items-center justify-center">
      <div id="date" class="mb-1">Vendredi 28 Mars</div>
      <div id="clock">12:00</div>
    </div>
  </div>
</header>
