<!DOCTYPE html>
<html lang="fr" class="{{ @SESSION.theme == 'dark' ? 'dark' : '' }}">
  <include href="/core/templates/partials/_head.html" />
  <body class="bg-gray-200 dark:bg-gray-800 dark:text-gray-200 font-sans text-gray-800 overflow-hidden">
    <!-- Header global -->
    <include href="/core/templates/partials/_header.html" />

    <!-- Layout principal -->
    <div class="flex min-h-screen">
      <!-- Sidebar -->
      <include href="/core/templates/partials/_aside.html" />

      <!-- Contenu principal -->
      <main id="main-content" class="flex-1 p-6">
        <!-- <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6" id="main-content">
          
          <div class="bg-white p-5 rounded-2xl shadow-md border border-indigo-100 hover:shadow-xl transition">
            <h2 class="text-lg font-semibold mb-2 text-indigo-500">Suivi production</h2>
            <p class="text-sm text-gray-600">Derniers statuts, retards, anomalies...</p>
            <button 
              class="mt-4 bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-600"
              hx-get="/partials/suivi.html" 
              hx-target="#main-content" 
              hx-swap="innerHTML">
              Voir le détail
            </button>
          </div>
      
          
          <div class="bg-white p-5 rounded-2xl shadow-md border border-indigo-100 hover:shadow-xl transition">
            <h2 class="text-lg font-semibold mb-2 text-indigo-500">Planning</h2>
            <p class="text-sm text-gray-600">Engagements machines & ordonnancement</p>
            <button class="mt-4 bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-600">
              Accéder
            </button>
          </div>
      
          
          <div class="bg-white p-5 rounded-2xl shadow-md border border-indigo-100 hover:shadow-xl transition">
            <h2 class="text-lg font-semibold mb-2 text-indigo-500">Utilisateurs</h2>
            <p class="text-sm text-gray-600">Gestion des droits et accès</p>
            <button 
            class="mt-4 bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-600">
              Gérer
            </button>
          </div>
        </div> -->
      </main>
    </div>
    <div id="toast-container" class="fixed top-4 right-4 space-y-3 z-50"></div>
    <include href="/core/templates/partials/_modal.html" />
  </body>
</html>
